#logo{
display:none;
}

#login{
	background-color:#fff;
}

h4{
	color: #eee;
}

.ui-icon-coffee
{
    background: url('themes/images/icons-png/coffee-white.png') no-repeat rgba(0, 0, 0, 0.4) !important;
    background-size: 14px 14px;
}